<nav class="navbar navbar-expand-lg static-top" style="background-color: #4F46E5" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/bookstore}">
            <img class="h-16 w-auto" src="#" th:src="@{/img/logo_white.png}" alt="Bookstore logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div th:if="${session.shoppingCart.isEmpty()}">
            <a style="text-decoration: none; color: red" href="#"><i style="font-size: 30px" class="fa fa-shopping-cart" th:text="' Twój koszyk jest pusty'"></i></a>
        </div>
        <div th:if="${!session.shoppingCart.isEmpty()}">
            <a style="text-decoration: none; color: limegreen" href="#"><i style="font-size: 30px" class="fa fa-shopping-cart" th:text="' Liczba książek w koszyku: ' + ${session.shoppingCart.size()}"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bookstore}">Strona główna</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin-panel/books}">Książki</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin-panel/users}">Użytkownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/profile}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="clicked(event, 'się wylogować')" th:href="@{/logout}">Wyloguj się</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script th:src="@{/js/script.js}"></script>
