<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="navbar" class="navbar navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">Bookstore</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a th:href="@{/admin-panel}" class="nav-link">Admin Panel</a>
            </li>
        </ul>
    </div>
</nav>
