<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/unauthenticated/header('Rejestracja')"></head>
<body class="text-gray-900">
<div class="mx-auto container">
    <div class="w-10/12 mx-auto">
        <div class="min-h-screen bg-white flex">
            <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
                <div class="mx-auto w-full max-w-sm lg:w-96">
                    <div>
                        <img class="h-16 w-auto" src="#" th:src="@{/img/logo.png}" alt="Bookstore logo">
                        <h2 class="mt-2 text-3xl font-extrabold text-gray-900">Zarejestruj się</h2>
                        <p class="mt-2 text-sm text-gray-600 max-w">lub
                            <a th:href="@{/login}" class="font-medium text-indigo-600 hover:text-indigo-500">wróć do panelu logowania</a>
                        </p>
                    </div>

                    <div class="mt-8">

                        <div class="mt-6">

                            <form method="post" action="#" th:action="@{/register}" th:object="${registerDto}" class="space-y-6">

                                <div class="space-y-1">
                                    <label for="username" class="block text-sm font-medium text-gray-700">
                                        Nazwa użytkownika
                                    </label>
                                    <div class="mt-1">
                                        <input id="username" type="text" th:field="*{username}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></p>
                                    <div th:unless="${#fields.hasErrors('username')}"></div>
                                </div>

                                <div class="space-y-1">
                                    <label for="password" class="block text-sm font-medium text-gray-700">
                                        Hasło
                                    </label>
                                    <div class="mt-1">
                                        <input id="password" type="password" th:field="*{password}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
                                    <div th:unless="${#fields.hasErrors('password')}"></div>
                                </div>

                                <div class="space-y-1">
                                    <label for="rePassword" class="block text-sm font-medium text-gray-700">
                                        Potwierdzenie hasła
                                    </label>
                                    <div class="mt-1">
                                        <input id="rePassword" type="password" th:field="*{rePassword}" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                    </div>
                                    <p th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="alert alert-danger"></p>
                                </div>

                                <div>
                                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Zarejestruj
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 50%; position: absolute; right: 0; height: 100%;">
                <img class="inset-0 h-full w-full object-cover" src="#" th:src="@{/img/bookstore.jpeg}" alt="Bookstore background">
            </div>
        </div>
    </div>
</div>
</body>
</html>
