<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/authenticated/header('Dodawanie książki')"></head>
<body>
<th:block th:replace="fragments/authenticated/navbar"/>
<div class="container content">

    <h3>Dodaj książkę</h3>
    <hr/>

    <form method="post" action="#" th:action="@{/admin-panel/books}" th:object="${createBookDto}">
        <div class="mb-3">
            <label for="author" class="form-label">Tytuł</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('title')}"></div>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Autor</label>
            <input type="text" class="form-control" id="author" th:field="*{author}">
            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('author')}"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Cena</label>
            <input type="text" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" class="form-control" id="price" th:field="*{price}">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger"></p>
            <div th:unless="${#fields.hasErrors('price')}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
</body>
</html>
