<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/authenticated/header('Edycja statusu zamówienia')"></head>
<body>
<th:block th:replace="fragments/authenticated/navbar"/>
<div class="container content">

    <h3>Edytuj status zamówienia</h3>
    <hr/>

    <p>Obecny status: <span th:text="${order.status}"></span></p>

    <form method="post" th:action="@{/admin-panel/orders/edit/status/{id}(id=${order.id})}" th:object="${updateOrderStatusDto}">
        <label>Nowy status:
            <select th:field="*{status}">
                <option th:each="type : ${statuses}" th:value="${type}" th:text="${type}">
                </option>
            </select>
        </label><br>
        <button type="submit" onclick="clicked(event, 'zaktualizować status wybranego zamówienia')" class="btn btn-primary">Zmień status</button>
    </form>

    <br>

    <p>Data złożenia zamówienia: <span th:text="${order.createdDate}"></span></p>
    <p>Łączna cena: <span th:text="${order.totalPrice}"></span></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Data dodania</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autor</th>
            <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody th:each="book:${order.books}">
        <tr>
            <td th:text="${book.createdDate}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
