<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/authenticated/header('Użytkownicy')"></head>
<body>
<th:block th:replace="fragments/authenticated/navbar"/>
<div class="container content">
    <button type="button" class="btn btn-primary"><a th:href="@{/admin-panel/users/add}" style="color: white; text-decoration: none;">Dodaj nowego użytkownika</a></button>
    <div th:if="${!users.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Data dodania</th>
                <th scope="col">Nazwa użytkownika</th>
                <th scope="col">Role</th>
                <th scope="col">Usuwanie</th>
            </tr>
            </thead>
            <tbody th:each="user:${users}">
            <tr>
                <td th:text="${user.createdDate}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <form method="post" action="#" th:action="@{/admin-panel/users/{id}(id=${user.id})}">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}">
                    <a th:href="@{/admin-panel/users/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:unless="${!users.isEmpty()}">
        <h3 class="alert alert-info">Brak użytkowników w bazie danych!</h3>
    </div>
</div>
</body>
</html>
