<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/authenticated/header('Moje zamówienia')"></head>
<body>
<th:block th:replace="fragments/authenticated/navbar"/>
<div class="container content">

    <h3>Moje zamówienia</h3>
    <hr/>

    <div th:if="${hasError != null} and ${paymentFinished} and !${hasError}" class="alert alert-success" role="alert">
        Sukces!
        <i class="glyphicon glyphicon-thumbs-up"></i>
        Płatność zaakceptowana!
    </div>

    <div th:if="${hasError != null} and ${paymentFinished} and ${hasError}" class="alert alert-danger" role="alert">
        Błąd płatności!
        <i class="glyphicon glyphicon-thumbs-up"></i>
        Coś poszło nie tak!
    </div>

    <div th:if="${!orders.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Data dodania</th>
                <th scope="col">Liczba książek</th>
                <th scope="col">Cena</th>
                <th scope="col">Status</th>
                <th scope="col">Szczegóły</th>
            </tr>
            </thead>
            <tbody th:each="order:${orders}">
            <tr>
                <td th:text="${order.createdDate}"></td>
                <td th:text="${order.numberOfBooks}"></td>
                <td th:text="${order.totalPrice}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <a th:href="@{/orders/me/{id}(id=${order.id})}" type="button" class="btn btn-info">Zobacz szczegóły</a>
                    <form th:if="${order.status.name().equals('UNPAID')}" action="#" method="post" th:action="@{/payu/{id}(id=${order.id})}">
                        <button type="submit" onclick="clicked(event, 'przejść do płatności zamówienia')" class="btn btn-success">Zapłać</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(0, orders.totalPages - 1)}">
                    <a th:href="@{/orders/me/(page=${i})}" th:text="${i+1}" class="nav-link"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:unless="${!orders.isEmpty()}">
        <h3 class="alert alert-info">Brak zamówień!</h3>
    </div>

</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
